body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #141d26; /* Couleur de fond noir clair */
    color: #fff; /* Couleur du texte */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 20px;
    padding: 40px;
    border: 1px solid #1da1f2;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #1da1f2;
}

label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1da1f2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0d8bf2;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}
p {
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #000; /* Changer la couleur du texte en noir */
}
